<?php
// AWS access info
define('awsAccessKey', '');
define('awsSecretKey', '');

// Backup bucket
$BACKUP_BUCKET = 'bucket_name';

// Directory name
$HOSTNAME = 'hostname';

// MySQL variables
$MYSQL_OPTIONS = '';

// Set the include paths
ini_set("include_path", "/path/to/backuphp/");

// Load the app functions
include('app/functions.php');

// Syntax: hostname, username, password, server_name
backupDBs('localhost', 'root', 'password', 'backup');

// Syntax: array of paths, server_name
backupFiles(array('/home/douglas/swordsmen'), 'backup');
?>
